:root {
  --font-plain: Arial, 'Helvetica', sans-serif;
  --font-fancy: Georgia, serif;
  --font-mono: menlo, Monaco, monospace;
  --bg: #f6d7c2;
  --bg-darkish: #101216;
  --fg: #0e3528;
  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --error: #ff0000;
  --error-light: #ff3333;
  --erro-dark: #e60000;
  --alpha: #0070f3;
  --alpha-light: #3291ff;
  --alpha-dark: #0761d1;
  --bravo: #f5a623;
  --bravo-light: #f7b955;
  --bravo-dark: #ab570a;
  --charlie: #50e3c2;
  --charlie-light: #79ffe1;
  --charlie-dark: #29bc9b;
  --delta: #f81ce5;
  --echo: #7928ca;
  --echo-light: #8a63d2;
  --echo-dark: #4c2889;
  --foxtrot: #ff0080;
  --radius: 8px;
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --transition1s: all 100ms ease-in-out;
  --transition2s: all 200ms ease-in-out;
  --flow-space: 1.75rem;
  --flow-mid: 3.5rem;
  --flow-large: 5rem;
  --flow-massive: 10rem;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-plain);
  color: var(--accents-2);
  background: var(--bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
  color: var(--fg);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

body,
ol[class],
li,
ul,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 2em;
}

p {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  margin-bottom: var(--flow-space);
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  color: var(--foxtrot);
  text-decoration: none;
  font-weight: bold;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
::selection {
  background-color: var(--fg);
  color: var(--bg);
}
time {
  text-transform: uppercase;
  font-size: 0.7em;
}
hr {
  margin: var(--flow-mid) 0;
}

blockquote {
  margin-left: -1.75rem;
  margin-right: var(--flow-space);
  margin-top: var(--flow-space);
  padding-bottom: 0;
  padding-left: 1.42188rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: var(--flow-space);
  font-size: 1.6rem;
  line-height: 1.75rem;
  color: var(--accents-7);
  font-style: italic;
  border-left: 0.3rem solid var(--foxtrot);
}

/* ------ Responsive Type ---------- */

@media (min-width: 640px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 25px;
  }
}

.container {
  margin: 0 auto;
  padding: var(--flow-space) var(--flow-space);
  max-width: 70rem;
}
.animated-link {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: var(--alpha);
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: var(--bg);
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: none;
}
.animated-link:hover {
  transform: translateY(-1px);
  background: var(--alpha-light);
}
.secondary {
  background: var(--echo);
  color: var(--fg);
}
.secondary:hover {
  background: var(--echo-light);
}

.headline {
  max-width: 18ch;
}
/* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--flow-space);
}
.hero-text {
  place-items: center;
  align-self: center;
}
.hero-image {
  max-width: 100%;
}

/* Nav */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
}
.nav-list-item {
  padding-left: 0.5em;
}
